.neonBg {
    height: 250px;
    width: 100%;
    background-position: left;
}
.logoImage {
  width: 125px;
  height: auto;

  @media screen and (min-width: 1024px) {
    width: 250px;
  }
}


.link {
  color: #40d802;
  border-bottom: 1px solid #40d802;
}