.productCard {
    background-color: white;
    color: black;
    min-width: 200px;
}

.megaQtd {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(45deg, #08db14 0%, #a4f000 100%);
    -webkit-background-clip: text;
    background-clip: text;
}

.maxLogo {
    max-width: 60px;

    @media screen and (min-width: 992px) {
        max-width: 100px;
    }
}

.cardTag {
    color: white;
    background: linear-gradient(90deg, #40D802 0%, #90D604 100%);
    border-radius: 8px 8px 0px 0px;
    padding: 2px 16px;
    top: 4px;
    text-wrap: nowrap;
    z-index: -1;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    justify-content: center;
}