@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

.slick-dots li button::before {
  content: "";
  width: 10px;
  height: 2px; /* Adjust as needed */
  background-color: white;
}

.slick-initialized .slick-slide {
  min-width: 240px;
}

.slick-track {
  min-width: 1200px;
}

.bg-banner {
  min-height: 200px;
}

.details-modal {
  z-index: 100;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100%;
  top: 0;
  padding-top: 50%;
  position: fixed;
  background: #00000066;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  overflow-y: scroll;
}

.details-modal.open {
  opacity: 1;
  visibility: visible;
}

#plan-details li {
  border-bottom: 1px solid #40d802;
  margin-bottom: 16px;
  padding-bottom: 16px;
}

#plan-details .subtitle {
  font-weight: bold;
}

.link {
  color: #40d802;
  border-bottom: 1px solid #40d802;
}

body {
  color: rgb(255, 255, 255);
  overflow: hidden;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .headline {
    font-family: "simplonhl";
  }
}

@layer base {
  html {
    font-family: "simplonbp";
  }

  @font-face {
    font-family: "simplonbp";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/simplonbp-regular-webfont.ttf);
  }

  @font-face {
    font-family: "simplonbp";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/fonts/simplonbp-medium-webfont.ttf);
  }

  @font-face {
    font-family: "simplonbp";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/fonts/simplonbp-bold-webfont.ttf);
  }

  @font-face {
    font-family: "simplonbp";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/fonts/simplonbp-light-webfont.ttf);
  }

  @font-face {
    font-family: "simplonhl";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/simplonoi-headline.ttf);
  }
}
