.benefitImage {
  width: 365px;
  height: 161px;
  object-fit: cover;
  border: 2px solid #40d802;
  border-radius: 8px;
  position: relative;
  display: flex;

  &.benefitImageRight {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: none;
  }

  &.benefitImageLeft {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: none;
    align-self: flex-end;
  }

  @media screen and (min-width: 768px) {
    &.benefitImageRight,
    &.benefitImageLeft
     {
      width: 500px;
      height: 300px;
      border-radius: 8px;
      border: 2px solid #40d802;
    }
  }

  @media screen and (min-width: 1024px) {
    &.benefitImageRight,
    &.benefitImageLeft
     {
      width: 800px;
      height: 400px;
    }
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #3fd8024a 0%, #90d6045b 100%);
    border-radius: 8px;
  }
}
